.moreButtons {
  padding: 0;
  border: none;
  background: transparent;
  cursor: pointer;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  block-size: 20px;
  inline-size: 20px;
}
