
.title {
  font-weight: 800;
  font-size: 18px;
  line-height: 22px;
  color: #06121e;
  margin:0;
  padding: 0;
  margin-bottom: 13px;
}

.results__list {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  list-style: none;
  margin:0;
  padding: 0;
  margin-bottom: 43px;
}

.results__element{
font-weight: 500;
font-size: 16px;
line-height: 19px;
color: #06121E;
opacity: 0.5;
}


