.input {
  padding-block: 6px;
  padding-inline: 10px;
  border-radius: 6px;
  background-color: #ffffff;
  border: none;
}

.label{
    font-size: 12px;
    color: #06121E;
}

.pill{
    border-radius: 8px;
}