.formForNewEmployee {
  margin: 28px 50px 0 33px;
}

.container {
  display: grid;
  grid-template-columns: repeat(4, minmax(61px, 300px)) 61px;
  gap: 16px;
}

.inputForNewEmployee {
  max-width: 111px;
}

.inputForEditEmployee {
  max-width: 151px;
}
