.formForNewEmployee {
  margin: 28px 50px 14px 33px;
}

.formForEditEmployee {
  margin: 7px 48px 7px 38px;
}

.container {
  justify-content: space-around;
  gap: 16px;
}

.errorContainer {
  visibility: hidden;
  display: block;
}

.inputForNewEmployee {
  max-width: 111px;
}

.inputForEditEmployee {
  max-width: 151px;
}

.employeeFormSubmit {
  margin-inline-start: 50px;
}
