.formForNewEmployee {
  margin: 28px 50px 14px 33px;
}

.formForEditEmployee {
  margin-inline: 40px;
}

.container {
  gap: 15px;
  line-height: 0.8;
}

.errorContainer {
  visibility: hidden;
  display: block;
}
