.container {
  display: flex;
}

.group-button {
  color: inherit;
  background-color: transparent;
  border: none;
  padding: 0;

  &:hover {
    background-color: transparent;
  }

  &:disabled {
    opacity: 1;
  }
}

.group-button .group-name {
  font-size: 16px;
  font-weight: 500;
  overflow-wrap: break-word;
  word-wrap: break-word;
  word-break: break-word;

  &_to-delete_true {
    text-decoration: line-through;
    color: rgba(142, 107, 107, 0.8);
  }
}

.group-button[aria-expanded='true'] .group-name {
  font-weight: 700;
}

.group-button[aria-expanded='true'] .group-name_has-employees_false {
  font-weight: 500;
}

span:has(.group-name) {
  padding-top: 0;
}

.group-count {
  margin-left: 13px;
  margin-right: 17px;
  color: #75899c;
}

.group-content {
  padding-left: 30px;
  padding-top: 0;
  margin-bottom: 28px;
}

.group-content div {
  padding: 0;
}

.employees-list {
  list-style: none;
}

.employees-list-item {
  margin-bottom: 10px;
}

.to-delete_true {
  text-decoration: line-through;
  color: rgba(142, 107, 107, 0.8);

  & div {
    text-decoration: inherit;
  }
}
