.wrapper {
  display: flex;
  flex-direction: column;
  background-color: white;
  height: 100%;
  grid-row: 1 / -1; 
  border-radius: 10px;
}

.header {
  position: sticky;
  box-sizing: border-box;

  width: 100%;
  padding: 24px 28px;
  z-index: 10;
  top: 0;
  left: 0; 
  background-color: #f6f8fa;
  width: 100%;
  border-radius: 10px;
  border-bottom-right-radius: 0px;
  border-bottom-left-radius: 0px;
}

.content {
  padding: 42px 28px; 
  height: 100%;
}

.name {
  font-family: 'Inter';
  font-weight: 600;
  font-size: 28px;
  line-height: 34px;
  color: #06121e;
  margin: 0;
  margin-bottom: 32px;
}

.subtitle {
  display: flex;
  gap: 35px;
  font-family: 'Inter';
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
  color: #06121e;
  margin-bottom: 38px;
}

