$width: 384px; // NOTE: minimal width or width ?
$borderColor: #ececec; // TODO: Взять из общей палитры

.notFound {
  margin: auto;
  transform: translateY(50%);
  width: $width;
  border: 1px solid $borderColor;
  border-radius: 8px;
  padding-inline-start: 60px;
  padding-block-start: 35px;
  padding-block-end: 45px;
}

.notFound_header {
  gap: 25px;
}

.notFound_message_list {
  padding-left: 29px;
}

.notFound_message_item {
  list-style-position: outside;
  padding-bottom: 3px;
  letter-spacing: -0.4px;
}

.notFound_back_link {
  text-underline-offset: 3px;
  text-decoration-color: #1077dd67; // FIX: Узнать критичен ли % прозрачности или значение
}
