.main {
  display: flex;
  flex-direction: column;
  background-color: rgb(255, 255, 255);
  min-height: 100vh;
  max-width: 100%;
  grid-row: 1 / -1;
  border-radius: 6px;
  justify-content: space-between;

  .main-content {
    padding: 40px 98px 41px 31px;
  }

  .question-form {
    min-height: 134px;
    width: 10%;
  }

  .no-data {
    color: rgb(44, 44, 44);
    font-size: 20px;
    font-weight: 400;
  }

  .error-message {
    color: rgb(177, 32, 32);
    font-size: 20px;
    font-weight: 400;
  }

  .questions-list {
    display: flex;
    flex: 1;
    flex-direction: column;
    background-color: rgb(255, 255, 255);
    height: 100%;
    flex-wrap: wrap;
  }
}

.loader_container {
  max-height: 100%;
  display: flex;
  justify-content: center;
  padding: 30px;
}
