.main {
  display: flex;
  flex-direction: column;
  background-color: rgb(255, 255, 255);
  min-height: 100vh;
  max-width: 100%;
  grid-row: 1 / -1;
  border-radius: 6px;
  justify-content: space-between;

  .main-content {
    flex: 1;
    display: flex;
    flex-direction: column;
    padding: 20px;
    background-color: rgb(255, 255, 255);
    border-bottom-right-radius: 6px;
    border-bottom-left-radius: 6px;
  }

  .question-form {
    background-color: rgb(252, 252, 252);
    min-height: 134px;
  }

  .questions-list {
    display: flex;
    flex: 1;
    flex-direction: column;
    background-color: rgb(255, 255, 255);
    height: 100%;
    flex-wrap: wrap;
  }
}

.loader_container {
  max-height: 100%;
  display: flex;
  justify-content: center;
}
