.main-content {
  flex: 1;
  display: flex;
  flex-direction: column;
  padding: 40px 98px 41px 31px;
  background-color: rgb(255, 255, 255);
  border-bottom-right-radius: 6px;
  border-bottom-left-radius: 6px;
}

.no-data {
  color: rgb(25, 74, 133);
  font-size: 20px;
  font-weight: 400;
}

.error-message {
  color: rgb(177, 32, 32);
  font-size: 20px;
  font-weight: 400;
}

.questions-list {
  display: flex;
  flex: 1;
  flex-direction: column;
  background-color: rgb(255, 255, 255);
  height: 100%;
  flex-wrap: wrap;
}

[class*='mantine-Drawer-body'] [class*='question'] {
  cursor: pointer;
}

.loader_container {
  max-height: 100%;
  display: flex;
  justify-content: center;
  padding: 30px;
}
