.employees_list__item {
  display: grid;
  grid-template-columns: repeat(4, minmax(61px, 300px)) 61px 25px;
  gap: 10px;
}

.employees_list__item_cell {
  text-overflow: ellipsis;
  overflow: hidden;
}

.active {
  background-color: #f6f8fa;
  border-radius: 6px;
  padding: 6px 10px;
  overflow-x: auto;
  text-overflow: initial;
}

.deleted {
  text-decoration: line-through;
  color: #8e6b6b;
}
