nav .link {
  font-weight: 500;
  color: #fff;
  line-height: 1.2;
  padding: 8px 2px 8px 0;

  & span {
    font-size: 16px;
  }

  &:hover {
    background-color: transparent;
  }

  &_active-true {
    font-weight: 700;
    background-color: transparent;
  }

  &_child {
    padding: 2px 12px;
    margin-bottom: 12px;
    font-size: var(--mantine-font-size-sm);

    & span {
      font-size: 14px;
    }
  }
}

.childLinksContainer {
  border-left: 2px solid rgba(255, 255, 255, 0.4);
  padding-left: 12px;
  margin: 10px 0 19px;
}
