.link {
  font-weight: 500;
  color: #fff;
  line-height: 1.2;

  &:hover {
    background-color: transparent;
  }

  &_active-true {
    font-weight: 700;
    background-color: transparent;
  }
}

.pageLink {
  padding-left: 5px;
}

.childLinksContainer {
  border-left: 2px solid rgba(255, 255, 255, 0.4);
  padding-left: 12px;
  margin: 12px 0 19px;
}

.childLink {
  padding: 2px 12px;
  margin-bottom: 12px;
  font-size: var(--mantine-font-size-sm);
}
