.formForNewQuestion {
  margin: 26px 195px 38px 38px;
}

.formForEditQuestion {
  margin: 12px 57px 12px 77px;
}

.container {
  grid-template-columns: 226px 386px 1fr;
  gap: 14px 15px;
  border-radius: 6px;
  font-style: normal;
  line-height: 0.8;
}

.questionFormDropdown {
  grid-column: 1/2;
  grid-row: 1/2;
}

.textarea {
  grid-column: 1/3;
  grid-row: 2/3;
}

.questionFormSubmit {
  grid-column: 3/3;
  grid-row: 2/3;
}
