.container_layout {
    margin: 0 auto;
    max-width: 384px;
    width: 100%;
    max-height: 431px;
    border-radius: 8px;
    background-color: #fff098;
    overflow-y: auto;
    scrollbar-width: none;
}

/* поддержка для браузера Safari */
.container_layout::-webkit-scrollbar {
  display: none;
}
