.container_layout {
  margin: 0 auto;
  max-width: 384px;
  width: 100%;
  min-height: 431px;
  max-height: 541px;
  border-radius: 8px;
  background-color: var(--mantine-color-black-0);
  scrollbar-width: none;
  display: flex;
}

/* поддержка для браузера Safari */
.container_layout::-webkit-scrollbar {
  display: none;
}

.scroll_area {
  flex: 1;
}
