.surveyForm {
  background-color: #f6f8fa;
  padding-block: 18px;
  padding-inline: 28px;
  border-radius: 6px 6px 0 0;
  border-bottom: 1px solid #E7E9EB;
}

.lgTextInput{
  font-size: 28px;
  font-weight: 500;
}

.input {
  padding-block: 6px;
  padding-inline: 10px;
  border-radius: 6px;
  background-color: #ffffff;
  border: none;
  width: 100%;
}
.root{
  width: 100%;
}

.label{
    font-size: 12px;
    color: #06121E;
}

.pill{
    border-radius: 8px;
}

.buttonGrey {
    background-color: #F6F8FA !important;
}

.questionsSection{
  padding-block: 24px;
  padding-inline: 28px;
  
}

.optionButtons{
  margin-top: 30px;
}