.surveyForm {
  background-color: #f6f8fa;
  padding-top: 20px;
  padding-bottom: 25px;
  padding-inline: 28px;
  border-radius: 6px 6px 0 0;
  border-bottom: 1px solid #e7e9eb;
}

.lgTextInput {
  font-size: 28px;
  font-weight: 600;
  padding-block: 20px;
  padding-inline: 10px;
  word-spacing: 4px;
}

.input {
  padding-block: 6px;
  padding-inline: 10px;
  border-radius: 6px;
  background-color: #ffffff;
  border: none;
  width: 100%;
}
.root {
  width: 100%;
}

.label {
  font-size: 12px;
  color: #06121e;
}

.pill {
  border-radius: 8px;
}

.buttonGrey {
  background-color: #f6f8fa !important;
}

.questionsSection {
  padding-block: 24px;
  padding-inline: 28px;
}

.optionButtons {
  margin-top: 20px;
}
.error {
  font-size: 12px;
  color: #da2b10;
}

.success {
  font-size: 12px;
  color: #75da10;
}
