.page-wrapper {
  border-radius: 6px;
  background-color: #fff;
  min-height: calc(100vh - 18px);
  display: flex;
  flex-direction: column;
}

.header_title {
  margin: 0;
  font-size: 34px;
  font-weight: 600;
}

.header_button-section {
  gap: 28px;
  align-items: top;
}

header .header_button {
  padding-inline: 20px;
}

.main {
  padding: 48px 38px;
  overflow-y: auto;
  flex: 1;
}

.error-modal_title {
  font-weight: 500;
}

.error-modal_text {
  margin-block: 0;
  color: rgb(73, 82, 90);
}
