.group-button {
  color: inherit;
  background-color: transparent;
  border: none;
  padding: 0;

  &:hover {
    background-color: transparent;
  }

  &:disabled {
    opacity: 1;
  }
}

.group-button .group-name {
  font-size: 16px;
  font-weight: 500;
}

.group-button[aria-expanded='true'] .group-name {
  font-weight: 700;
}

span:has(.group-name) {
  padding-top: 0;
}

.group-count {
  margin-left: 13px;
  margin-right: 17px;
  color: #75899c;
}

.group-content {
  padding-left: 30px;
  padding-top: 0;
  margin-bottom: 28px;
}

.group-content div {
  padding: 0;
}

.employees-list {
  list-style: none;
}

.employees-list-item {
  margin-bottom: 10px;
}
