.input {
  border-radius: 6px;
  border: none;
  min-width: 226px;
  height: 31px;
  line-height: 31px;
  background-color: #f6f8fa;
}

.textarea {
  background-color: #f6f8fa;
  resize: none;
  border-radius: 6px;
  border: none;
  min-height: 100px;
}

.title {
  font-size: 18px;
  font-weight: 900;
}
