.wrapper_employees {
  background-color: var(--mantine-color-black-0);
  border-radius: 6px;
  min-height: 120vh;
}

.employees_list {
  display: flex;
  margin: 48px 48px 66px 38px;
  flex-direction: column;
  gap: 10px;
  max-height: 100%;
}

.employees_list__with_form {
  margin-top: 13px;
}

.loader {
  align-self: center;
}
