.backdrop {
  background-color: transparent;
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vw;
  z-index: 2;
}

.menu {
  background-color: #f6f8fa;
  border-radius: 6px;
  width: 296px;
  padding: 4px 2px 4px 4px;
  flex-direction: column;
  box-shadow:
    0px 1px 5px rgba(0, 0, 0, 0.09),
    0px 9px 14px -2px rgba(0, 0, 0, 0.09);
  position: absolute;
  z-index: 3;
}

.menu-button {
  background-color: transparent;
  height: 39px;
  padding-left: 10px;
  border-radius: 0;
  color: #06121e;
  font-size: 16px;
  font-weight: 500;

  &:hover {
    background-color: transparent;
    color: inherit;
  }

  & span {
    justify-content: flex-start;
  }
}

.menu-button_delete {
  color: #a81316;
  border-top: 1px dotted rgb(59, 74, 123, 0.2);
  margin-top: 10px;
}
