.container {
  display: flex;
  padding: 9px 8px;
  background:
    linear-gradient(180deg, #0085ca 0%, #69a1e0 50.96%, #9094b8 66.35%, #d36400 100%),
    linear-gradient(179.02deg, #230840 18.58%, #2c8ea9 99.16%), #06121e;
  background-attachment: fixed;
  min-block-size: 100vh;
  overflow: auto;
}

.logo {
  margin-block: 14px 37px;
  margin-inline-start: 18px;
}

.contentSidebar {
  margin-inline-start: 23px;
}

.sidebarImage {
  margin-inline-start: 14px;
  inline-size: 167px;
  block-size: 193px;
}
