.input {
  border-radius: 6px;
  height: 34px;
  font-weight: 500;
  border: 1px solid transparent;
}

.primary {
  background-color: #ffffff;
  color: #06121e;
  font-size: 18px;
}

.secondary {
  background-color: #f6f8fa;
  color: #06121e;
  font-size: 14px;
}

.label {
  font-weight: 500;
  font-size: 12px;
  color: #06121e;
  margin-bottom: 4px;
}
