.question {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  align-items: flex-end;
  justify-content: flex-start;
  padding-block-end: 12px;
  cursor: context-menu;
}

.id {
  color: #75899c;
  padding-inline-start: 14px;
  padding-block-start: 5px;
  padding-inline-end: 17px;
}

.isFavorite {
  padding-inline-end: 5px;
  color: #ffd014;
}

.text {
  overflow-wrap: break-word;
  word-wrap: break-word;
  word-break: break-word;
}

.question_type {
  font-style: italic;
  color: #1e1e1e;
  opacity: 0.6;
}

.to_delete {
  text-decoration: line-through;
  color: #8e6b6b;
}

.delete_button {
  margin-inline-start: 10px;
  border: none;
  background-color: transparent;

  &:hover {
    background-color: transparent;
  }
}
