.question {
  display: flex;
  padding-block-end: 12px;
  flex-wrap: nowrap;
  flex-direction: row;
  align-items: flex-end;
  justify-content: flex-start;
  padding-block-end: 12px;
  cursor: auto;
}

.id {
  color: #75899c;
  padding-inline-start: 14px;
  padding-block-start: 5px;
  padding-inline-end: 17px;
}

.isFavorite {
  padding-inline-end: 5px;
  color: #ffd014;
}

.question_type {
  font-style: italic;
  color: #1e1e1e;
  opacity: 0.6;
}
