.root {
  cursor: pointer;
  transition: all 0.2s ease;
  padding-inline: 20px;
  padding-block: 10px;
  border-radius: 6px;
}

.root[data-variant='primary'] {
  --button-bg: #06121e;
  --button-hover: #000000;
  --button-color: #ffffff;
}

.root[data-variant='ghost'] {
  --button-hover: transparent;
  background: transparent;
  :hover {
    color: #06121e;
  }
  color: #06121e;
  padding: 0;
}

.root[data-size='md'] {
  font-size: 13px;
  font-weight: 500;
}

.root[data-size='lg'] {
  height: 39px;
  font-size: 16px;
  font-weight: 500;
}
