.button {
  cursor: pointer;
  transition: all 0.2s ease;
  padding-inline: 20px;
  padding-block: 10px;
  border-radius: 6px;
}

.primary {
  background-color: #06121e;
  color: #ffffff;

  &:hover {
    background-color: #000000;
  }

  &[disabled]:hover {
    background-color: var(--mantine-color-disabled);
  }
}

.ghost {
  background-color: transparent;
  color: #06121e;
  padding: 0;

  &:hover {
    background-color: transparent;
    color: #06121e;
  }

  &[disabled]:hover {
    color: var(--mantine-color-disabled);
  }
}

.md {
  font-size: 13px;
  font-weight: 500;
}

.lg {
  height: 39px;
  font-size: 16px;
  font-weight: 500;
  padding-inline: 24px;
}
