.input {
  border-radius: 6px;
  border: none;
  min-width: 226px;
  height: 31px;
  line-height: 31px;
  background-color: #f6f8fa;
}

.textarea {
  background-color: #f6f8fa;
  resize: none;
  border-radius: 6px;
  border: none;
  min-height: 100px;
}

.input:disabled, .textarea:disabled {
  color: black
}

.not-for-edit-true:disabled {
  color: var(--input-disabled-color)
}

.title {
  font-size: 18px;
  font-weight: 900;
}

.icon-button {
  background-color: var(--hover-bg);

  &:hover {
    background-color: var(--hover-bg);
  }

  &:disabled {
    background-color: transparent;
  }
}
