.backdrop {
  background-color: transparent;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vw;
  z-index: 2;
}

.menu {
  width: 296px;
  flex-direction: column;
  background-color: #f6f8fa;
  border-radius: 6px;
  padding: 4px 2px 4px 4px;
  box-shadow:
    0px 1px 5px rgba(0, 0, 0, 0.09),
    0px 9px 14px -2px rgba(0, 0, 0, 0.09);
  position: absolute;
  z-index: 3;
}

.button,
div .button {
  background-color: transparent;
  height: 39px;
  padding-left: 10px;
  border-radius: 0;
  color: #06121e;
  font-size: 16px;
  font-weight: 500;
  width: 100%;

  &:hover {
    background-color: transparent;
    color: #06121e;
  }

  & span {
    justify-content: flex-start;
  }
}

.button_important,
div .button_important {
  color: #a81316;

  &:hover {
    color: #a81316;
  }
}

.menu_link {
  text-decoration: none;
  display: inline-block;
  text-align: start;
  line-height: 39px;
}

.divider {
  border-top: 1px dotted rgb(59, 74, 123, 0.2);
  margin: 10px 0 0;

  &_dropdown {
    margin: 16px 0 0;
  }
}
