.item {
  position: relative;
}

.itemToDelete {
  text-decoration: line-through;
}

.comment {
  display: block;
  position: absolute;
  top: 18px;
  color: #898989;
  font-size: 12px;
  text-align: left;
}
