.form {
  margin-bottom: 12px;
  display: flex;
  gap: 12px;
}

.input {
  width: 262px;
}

.input input {
  background-color: #f6f8fa;
  border-radius: 6px;
  border: none;
  padding-left: 10px;
}

.button {
  padding: 0;
  height: 34px;
  width: 43px;
  background-color: #fff;
  border: 1px solid #f6f8fa;
  border-radius: 6px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
