.header {
  display: flex;
  flex-direction: column;
  background-color: #f6f8fa;
  width: 100%;
  border-radius: 10px;
  border-bottom-right-radius: 0px;
  border-bottom-left-radius: 0px;
  padding: 18px 38px 0px;
  gap: 10px;
  min-height: 140px;
  justify-content: space-between;
  cursor: pointer;
}

.header_title {
  font-weight: 600;
  font-size: 34px;
  margin: 0;
}

.headerTop {
  display: flex;
  justify-content: space-between;
  align-items: center;

  & .buttons-block {
    display: flex;
    justify-content: space-between;
    gap: 28px;
  }
}

.headerBottom {
  display: flex;
  justify-content: flex-start;
}
